/* Including fonts */
@font-face {
  font-family: 'SF UI Display';
  src: url("../../fonts/SF/SFUIDisplay-Black.eot");
  src: local("SF UI Display Black"), local("SFUIDisplay-Black"), url("../../fonts/SF/SFUIDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/SF/SFUIDisplay-Black.woff") format("woff"), url("../../fonts/SF/SFUIDisplay-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
